**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.appx
**/*.appxbundle
**/*.pfx
**/*.publishsettings
**/bin
**/Dockerfile*
**/node_modules
**/obj
**/out
